*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
}
/* 
.header{
    height: 100vh;
} */

.navbar-style{
    /* box-shadow: 0 5px 10px #efefef; */
    /* background-color: white; */
    border-bottom: 1px solid gray;
}
.logo{
    height: 48px;
    padding : 2px 10px ;
    margin: 0px 0px 0px 30px;
    font-size: 30px;
    color: white;
}
.icon-bar{
    background: black;
}
.btn{
    margin: 15px 10px ;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    background-color: darkorange;
    color: white;
}
.btn:hover{
    background: darkorange;
    border: none;
    color: white;
    box-shadow: 5px 5px 10px #999;
    outline: none;
}
.btn:focus{
    outline: none;
}

#section1{
    /* margin-top: 50px; */
    padding-top:100px;
    height:500px;
}

#section21{
    padding-top:50px;
    /* height:500px; */
    min-height: 600px;
    color: white ;
    /* background-color: #673ab7; */
    background-color:#496474;

    
}

#section22{
    padding-top:50px;
    height:500px;
    color: #fff; 
    background-color: #ff9800;
}

#section3{
    padding-top:50px;
    height:500px;
    color: #fff; 
    background-color: #00bcd4;
}
#section4{
    padding-top:50px;
    /* height:650px; */
    color: black; 
    /* background-color: #009688; */
    background-color: white;
    text-align: center;
}

.col-lg-6{
    text-align: center;

}
.col-lg-6 img{
    margin-left: auto;
    margin-right: auto;
}


.box input[type = "text"] , .box input[type = "email"]{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    /* border: 2px solid #240fdf; */
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s ;    
}

.box input[type = "text"]:focus , .box input[type = "email"]:focus{
    width: 280px;
    border-color: #2ecc71;

}

.box input[type = "submit"]{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 10px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s ;    
    cursor: pointer;
    width: 100px;
}

.box input[type = "submit"]:hover{
    background: #2ecc71;
}
.contact-form input[type = "text"] , .contact-form input[type = "email"]{
    background: none;
    display: block;
    margin: 20px auto;
    border: 1px solid gray ;
    padding: 12px 10px;
    width: 100%;
    outline: none;
    color: black;
}
.contact-form input[type = "submit"]{
    margin: 20px auto ;
    background: #1678e0;
    padding: 18px 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    color: white;
}
.contact-form input[type = "submit"]:hover{
    background:darkorange;
    transition: 0.2s;
}
.footer{
    height: 60px;
    width: 100%;
    background-color: #1678e0;
    color: black;
}

.card{
    text-align: center;
    padding: 15px ;
    margin: auto;
    max-width: 360px;
    
}
.card-body{
    /* border: 1px solid black; */
    border-radius: 50px;
    /* background: white; */
    color: black;
    padding: 30px;
    background: linear-gradient(145deg, #425a68, #4e6b7c);
box-shadow:  7px 7px 25px #3a4f5c, 
             -7px -7px 25px #58798c;
}
.card-btn{
    margin: 15px auto ;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: darkorange;
    color: white;
    outline: none;
}
.card-img{
    height: auto;
    width: auto;
    margin: auto;
}


.carousel {
    background-color:#496474;

  }
  
  .carousel-cell {
    width: 66%;
    height: auto;
    margin-right: 10px;
    background: #88cc88;
    border-radius: 30px;
    
  }
  
  /* cell number */
  .carousel-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
  }
